#wrap.boxed {
    width: 1200px !important;
}

.wrapcontent {
    /*position:static;*/
    /*margin-left:200px;*/
    float:left;
    /*float:none !important;*/
    /*width: auto !important;*/
    min-height: 700px !important;
    width: 1000px !important;
}

.contentfull {
    margin-left:0px;
    width: 1200px !important;
}


.fieldsTypes {
    font-size:14px !important;
}
.ui-selectonemenu label.ui-selectonemenu-label {
    padding:2px;
}
@media all {
    /*.page-break	{ display: none; }*/
}

@media all {
    .page-break	{ display: block; page-break-after: always; }
}

.ui-tabs .ui-tabs-panel {
    padding:5px !important;
}

.ui-datalist-content {
    padding:5px;
}

