#wrap.boxed {
    width: 1200px !important;
}

.wrapcontent {
    /*position:static;*/
    /*margin-left:200px;*/
    float:left;
    /*float:none !important;*/
    /*width: auto !important;*/
    min-height: 700px !important;
    width: 1000px !important;
}

.contentfull {
    margin-left:0px;
    width: 1200px !important;
}


.fieldsTypes {
    font-size:14px !important;
}
.ui-selectonemenu label.ui-selectonemenu-label {
    padding:2px;
}

body {
    margin:0 !important;
    padding: 0;
    border:0;
}


@media all {
    .page-break	{
        display: block;
        page-break-after: auto;
        margin: 0;
        padding: 0;
        border:0;
    }
    body {
        margin:0 !important;
        padding: 0;
        border:0;
    }

    html {
        height : 100% !important;
        margin: 0;
        padding: 0;
        border : 0;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .main-wrapper .container {
        margin-top: 0px;
    }
}


.ui-tabs .ui-tabs-panel {
    padding:5px !important;
}

.ui-datalist-content {
    padding:5px;
}

